$prefix: 'ey-ui-';

/* color */
$color-main-green: #009688;
$color-main-light-green: #5FB878;
$color-main-blank: #393D49;
$color-main-blue: #1E9FFF;

$color-view-yellow: #F7B824;
$color-view-red: #e0401f;
$color-view-blue: #01AAED;
$color-view-blank: #2F4056;

/* animate */

$transition-time: 0.25s;

